.navbar{
    margin: 0px;
    padding: 20px;
    background-color: #171A26;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style-type: none;
    margin: 0px;
}
.logo-container{
}
.menu-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.menu-icon{

}
@media screen and (min-width: 768px) {
    .menu-icon{
        display: none;
    }
}